* {
    box-sizing: border-box;
}

/* MEDIA QUERYS  */

@media screen and (min-width: 320px) {
    h1 {
        font-size: 36px;
    }

    h2 {
        font-size: 28px;
    }

    h3 {
        font-size: 24px;
    }

    h4 {
        font-size: 20px;
    }

    h5 {
        font-size: 16px;
    }

    p {
        font-size: 12px;
    }

        /* HOMEPAGE FORMATTING */

    .homeCard {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
        align-items: center;
    }

    .homelink {
        font-size: 28px;
        text-decoration: none;
    }

    .homeHero {
        padding: 30px 35px;
    }
    
    .homefeatured {
        padding: 30px 20px;
    }

    .listformat {
        font-size: 12px;
        margin: 15px auto;
    }

    .featuredlink {
        font-size: 20px;
    }

    .allFeatured {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 20px;
        margin: 20px 40px;
    }
    

}

/* Tablet size */
@media only screen and (min-width: 678px) {
    h1 {
        font-size: 45px;
    }

    h2 {
        font-size: 35px;
    }

    h3 {
        font-size: 30px;
    }

    h4 {
        font-size: 25px;
    }

    h5 {
        font-size: 20px;
    }

    p {
        font-size: 15px;
    }

    /* HOMEPAGE FORMATTING */

    .homeCard {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
        align-items: center;
    }

    .homelink {
        font-size: 35px;
        text-decoration: none;
    }

    .homeHero {
        padding: 50px 50px;
    }
    
    .homefeatured {
        padding: 30px 20px;
    }

    /* CASE STUDY FORMATTING */

    .listformat {
        font-size: 15px;
        margin: 15px auto;
    }

    .cshformat {
        padding: 30px 30px; 
    }

    .linkheader {
        padding: 30px 20px;
    }

    /* WORK/PLAY FORMATTING */

    .allFeatured {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(400px, 2fr));
        grid-gap: 20px;
        margin: 20px 40px;
    }

    .featuredlink {
        font-size: 25px;
    }

    .articleFormat {
        padding: 30px 30px;
    }
    
    
    /* FOOTER FOMATTING */


}

/* Desktop size */
@media only screen and (min-width: 1000px) {
    h1 {
        font-size: 45px;
    }

    h2 {
        font-size: 42px;
    }

    h3 {
        font-size: 36px;
    }

    h4 {
        font-size: 26px;
    }

    h5 {
        font-size: 20px;
    }

    p {
        font-size: 18px;
    }

    /* HOMEPAGE FORMATTING  */
    .homelink {
        font-size: 42px;
        padding-left: 30px;
        text-decoration: none;
    }

    .homeCard {
        display: flex;
        flex-direction: row;
        margin-bottom: 10px;
        align-items: center;
    }

    .homeHero {
        padding: 80px 80px;
    }

    .homefeatured {
        padding: 30px 80px;
    }

    /*  WORK/PLAY FORMATTING  */
    .allFeatured {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
        grid-gap: 40px;
        margin: 30px 80px;
    }

    .featuredlink {
        font-size: 30px;
    }

    /* CASE STDY FORMATTING  */

    .listformat {
        font-size: 18px;
        margin: 18px auto;
    }

    /* FOOTER FORMATTING  */

}



/* MAIN CSS !!!! */

/* FONT SETTINGS */

h1 {
    font-family: 'BN Cringe Serif';
    font-weight: 300;
    font-style: normal;
}

h2 {
    font-family: 'BN Cringe Serif';
    font-weight: 300;
    font-style: normal;
}

h3 {
    font-family: 'BN Cringe Serif';
    font-weight: 300;
    font-style: normal;
}

h4 {
    font-family: 'Alegreya';
    font-weight: bold;
    font-style: italic;
}

h5 {
    font-family: 'Alegreya';
    font-weight: bold;
    font-style: normal;
}

p {
    font-family: 'Alegreya';
    font-weight: normal;
    font-style: normal;
}

.cshformat p {
    font-family: 'BN Cringe Serif';
    font-weight: 300;
    font-style: normal;
}

.listformat {
    font-family: 'Alegreya';
    font-weight: normal;
    font-style: normal;
}

h1 strong {
    font-weight: normal;
    font-style: italic;
}

.cshskills {
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cshformat h2 {
    color: white;
    font-family: 'BN Cringe Serif';
    font-weight: normal;
    font-style: normal;
}

.homelink {
    font-family: 'Alegreya';
    font-weight: 500;
    font-style: normal;
    color: #000000;
}


body { 
    margin: 0;
    padding: 0;
}

/* HOMEPAGE FOMATTING  */
.homeHero {
    background-color: black;
    color: white;
    height: 80vh;
    height: fit-content;
}

.homefeatured {
    display: flex;
    flex-direction: column;
    background-color: FCFCFC;
    color: #000000;
}

.homeCard img {
    width: 50vw; /* Set the width of the image to 50% of the viewport width */
    max-width: 100%; /* Set the maximum width of the image to 100% of its container */
    height: auto; /* Maintain aspect ratio */
}

.homefeatured hr {
    height: .1rem; 
    background-color: #000000;
    width: 100%; 
    margin: 10px 0; 
    border: none; 
}

/* FORMAT OF CASE STUDIES */

.casestudyheader {
    display: flex; /* Set the container as a flex container */
    flex-direction: column;/* Stretch items vertically */
    margin: 0;
    padding: 0;
}

.casestudyheader img {
    width: 100vw; /* Set the image width to 100% of viewport width */
    height: 75vh; /* Allow the height to adjust according to the aspect ratio */
    object-fit: cover; /* Cover the entire container */
    object-position: center; /* Center the image */
    margin: 0; /* Remove any default margins */
}

.cshformat {
    background-color: black;
    padding: 30px 100px; /* Add padding to .csformat */
}

.cshformat hr {
    height: .1rem;
    width: 100%; 
    margin: 0 auto; 
    border-color: white;
}

/* CASE STUDY IMAGE FORMATTING  */

.articleImgFormat {
    width: 98.78vw; 
    padding: 30px 100px;
    margin-left: -100px; 
    margin-right: -100px; 
    margin-top: 20px;
    margin-bottom: 20px;
}

.articleFormat {
    padding: 30px 100px;
}

#pinkArticle {
    background-color: #EB536E;
}

#blueArticle {
    background-color: #3479C8;
}

#purpleArticle {
    background-color: #9062F2;
}
.articleImgFormat img {
    object-fit: contain; /* Fit the entire image within the container */
    width: 100%; /* Ensure the image takes up the entire width of its container */
    height: 100%;
    object-position: center;
}

/* WORK/PLAY FORMATTING  */
.linkheader {
    background-color: black;
    color: white;
    width: 100%; 
    height: auto;
    box-sizing: border-box; 
    font-size: 40px;
    padding: 30px 80px;
}

.allFeaturedCard { 
    display: flex;
    flex-direction: column;
}

.featuredlink {
    font-family: 'Alegreya';
    font-weight: 500;
    font-style: normal;
    color: #000000;
    text-decoration: none;
}

.allFeatured img {
    width: 400px;
}

/* FOOTER FOMARTTING  */

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Alegreya';
    font-weight: normal;
    font-style: normal;
    background-color: black;
    color: white;
    width: 100%; 
    padding: 20px 80px;
    box-sizing: border-box;
}

.footerFormat {
    display: flex;
    flex-direction: column;
}

.footerFormat p {
    margin: 5px;
}

.socialFormat {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

